uploads/*
uploads/partner
application/logs/*
assets/front_end/modern/demo/*
assets/front_end/modern/images/*
.DS_Store
/.vscode/
/dist/
/node_modules/
firebase-config.js
firebase-messaging-sw.js